Create a new list form 2 lists

In [1]:
list1=[10, 20, 25, 30, 35]
list2=[40, 45, 60, 75, 90]
print(list1+list2)

[10, 20, 25, 30, 35, 40, 45, 60, 75, 90]

Print multiplication table from 1 to 10

In [5]:
for i in range(1,11):
    for j in range(1,11):
        print(i,"x",j," = ", i*j)

1 x 1  =  1
1 x 2  =  2
1 x 3  =  3
1 x 4  =  4
1 x 5  =  5
1 x 6  =  6
1 x 7  =  7
1 x 8  =  8
1 x 9  =  9
1 x 10  =  10
2 x 1  =  2
2 x 2  =  4
2 x 3  =  6
2 x 4  =  8
2 x 5  =  10
2 x 6  =  12
2 x 7  =  14
2 x 8  =  16
2 x 9  =  18
2 x 10  =  20
3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27
3 x 10  =  30
4 x 1  =  4
4 x 2  =  8
4 x 3  =  12
4 x 4  =  16
4 x 5  =  20
4 x 6  =  24
4 x 7  =  28
4 x 8  =  32
4 x 9  =  36
4 x 10  =  40
5 x 1  =  5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
5 x 10  =  50
6 x 1  =  6
6 x 2  =  12
6 x 3  =  18
6 x 4  =  24
6 x 5  =  30
6 x 6  =  36
6 x 7  =  42
6 x 8  =  48
6 x 9  =  54
6 x 10  =  60
7 x 1  =  7
7 x 2  =  14
7 x 3  =  21
7 x 4  =  28
7 x 5  =  35
7 x 6  =  42
7 x 7  =  49
7 x 8  =  56
7 x 9  =  63
7 x 10  =  70
8 x 1  =  8
8 x 2  =  16
8 x 3  =  24
8 x 4  =  32
8 x 5  =  40
8 x 6  =  48
8 x 7  =  56
8 x 8  =  64
8 x 9  =  72
8 x 10  =  80
9 x 1  =  9
9 x 2  =  18
9 x 3  =  27
9 x 4  =  36
9 x 5  =  45
9 x 6  =  54
9 x 7  =  63
9 x 8  =  72
9 x 9  =  81
9 x 10  =  90
10 x 1  =  10
10 x 2  =  20
10 x 3  =  30
10 x 4  =  40
10 x 5  =  50
10 x 6  =  60
10 x 7  =  70
10 x 8  =  80
10 x 9  =  90
10 x 10  =  100

Print a downward half pyramid

In [16]:
for i in range (6,1,-1):
  for j in range (i,1,-1):
    print("0",end="")
  print("\n")

00000

0000

000

00

0

Adding "tomato" int he list and sorting in alphabetic order

In [17]:
vegetables=["brocolli","eggplant","carrot","cauliflower","zucchini"]
veges_updated=vegetables+["tomato"]
print(sorted(veges_updated))

['brocolli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']

Fuction to tell if the number is odd or not

In [20]:
number = int(input("Enter the number: "))
if((number%2)==0):
  print("False")
else:
  print("True")

Enter the number: 8
False

Taking in sequence and returning the mode of the data

In [ ]:
array = list(map(int, input("Enter items: ").split()))
print(max(array, key=array.count))

NUMPY Ex1

In [ ]:
import numpy as np
ar = np.zeros([4,2])
print(ar.shape)
print(ar.ndim)
print(ar.itemsize)

NUMPY Ex2

In [ ]:

sampleArray = np.array ( [ [ 11 ,22, 33 ], [ 44, 55, 66 ], [ 77, 88, 99 ] ] )
print(sampleArray[:,2])

NUMPY Ex3

In [ ]:
ar = np.array(
    [[11,22,33],[44,55,66],[77,88,99]]
)
ar1 = ar[np.argsort(ar[1])]
print(ar1)
ar2 = ar[ar[:,1].argsort()]
print(ar2)

PANDAS Ex1

In [ ]:
import pandas as pd
df = pd.read_csv("/content/Automobile_data.csv")
df.tail()

PANDAS Ex2

In [ ]:
import pandas as pd
import numpy as np

df.replace(['?', 'n.a', 'N.A', 'NA'], np.nan, inplace=True)

numeric_cols = ["wheel-base", "length", "horsepower", "average-mileage", "price"]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

categorical_cols = df.select_dtypes(include='object').columns

for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

print(df)

MATPLOT Ex1

In [ ]:
import matplotlib.pyplot as plt

df1 = pd.read_csv("/content/company_sales_data.csv")
profit = df1['total_profit']
months = df1['month_number']
plt.figure(figsize=(10,5))
plt.plot(months, profit, marker='o')
plt.xlabel("Month Number")
plt.ylabel("Total Profit")
plt.title("Company Profit Per Month")
plt.grid(True)
plt.show()

MATPLOT Ex2

In [ ]:
months = df1['month_number']
face_cream = df1['facecream']
face_wash = df1['facewash']
bar_width = 0.4
x1 = months
x2 = [m + bar_width for m in months]
plt.figure(figsize=(10,5))

plt.bar(x1, face_cream, width=bar_width, label='Face Cream Sales')
plt.bar(x2, face_wash, width=bar_width, label='Face Wash Sales')
plt.xlabel("Month")
plt.ylabel("Units")
plt.title("Sales of Face Cream & Face Wash")
plt.xticks(months + bar_width / 2, months)
plt.legend()
plt.show()